<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
</head>
<body>

<div >
    {{#message}}
        {{message}}
    {{/message}}
</div>
<form action="/registration" method="post">
    <div><label> User Name: <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"/></div>
    <div><input type="submit" value="OK"/></div>
</form>
</body>
</html>